__pycache__/
bitprim/
bitprim_native.egg-info/
build/
conan_imports_manifest.txt
conanbuildinfo.cmake
conaninfo.txt

bitprim_native.cp36-win_amd64.pyd
dist/

examples/blockchain/
examples/debug.log
examples/error.log
examples/hosts.cache

bitprim_native.so
conanfile.pyc
setup.pyc

blockchain/
debug.log
error.log

.vscode/

bitprim_native.pyd